:root {
  --random: #000000;
  --width-of-box: 200px;
  --height-of-box: 200px;
}

.nav-bar {
  background-color: aqua;
}

li {
  list-style: none;
  margin: 10px;
}

.card-container {
  border-radius: 20px !important;
  width: 300px;
}

.card-container > img {
  border-radius: 20px;
}

.card-title {
  font-size: 24px;
}
