:root {
  --random: #000000;
  --width-of-box: 200px;
  --height-of-box: 200px;
}

.nav-bar {
  background-color: aqua;
}

li {
  list-style: none;
  margin: 11px;
  text-decoration: none;
}

.form-style {
  width: 400px;
  margin-top: 100px;
}
